@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#menu-1 .navbar-toggler {
  color: #000000;
}
#menu-1 .nav-link {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
#menu-1 .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}
