<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminChecker</servlet-name>
        <servlet-class>controller.AdminChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountantRegistration</servlet-name>
        <servlet-class>controller.AccountantRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountantLogin</servlet-name>
        <servlet-class>controller.AccountantLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAc</servlet-name>
        <servlet-class>controller.DeleteAc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAc</servlet-name>
        <servlet-class>controller.ActivateAc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChange</servlet-name>
        <servlet-class>controller.PasswordChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>controller.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>controller.StudentRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDAO</servlet-name>
        <servlet-class>controller.EditDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentChecker</servlet-name>
        <servlet-class>controller.StudentChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminChecker</servlet-name>
        <url-pattern>/AdminChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountantRegistration</servlet-name>
        <url-pattern>/AccountantRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountantLogin</servlet-name>
        <url-pattern>/AccountantLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAc</servlet-name>
        <url-pattern>/DeleteAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAc</servlet-name>
        <url-pattern>/ActivateAc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChange</servlet-name>
        <url-pattern>/PasswordChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/StudentRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDAO</servlet-name>
        <url-pattern>/EditDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentChecker</servlet-name>
        <url-pattern>/StudentChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FirstP.jsp</welcome-file>
    </welcome-file-list>
</web-app>
